.flex-container {
	display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
}

.flex-item{
	background-color: #248;
	color: #fff;
	height: 120px;
	width: 120px;
	margin: auto;
	text-align: center;
}

.orange {
	background: orange;

}

.green {
	background: green;
}